/********************************
 * generic als elements styling
 ********************************/
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	height: 100%;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
	height: 100% !important;
	margin-left: -10px;
	width: 672px !important;
}

.als-wrapper {
	position: relative;
	list-style: none;
	margin-left: 0px !important;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
	z-index:100;
}


/**************************
 * specific als elements
 * styling for #lista1
 **************************/

#lista1 .als-item {
	margin: 0px 20px;
	min-height: 500px;
	min-width: 128px;
}

#lista1 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista1 .als-prev, #lista1 .als-next {
	top: 58px;
	width: 15px;
	height: 22px;
}

#lista1 .als-prev {
	left: -10px;
}

#lista1 .als-next {
	display: inherit !important;
	right: 0px;
}

/*********************
 * footer style
 ********************/

#footer {
	width: 928px;
	margin: 0 auto;
	padding: 5px 15px;
	border: 1px dashed #000;
	border-radius: 10px;
}

#footer p {
	position: relative;
	margin: 5px auto 10px auto;
	width: 960px;
	font-size: 12px;
}

#footer p.ultimo {
	margin-bottom: 5px;
}

hr{
	
	color: #aaa;
	background-color: #aaa;
	border:1px;
	padding:0px !important;
	margin:0px !important;
	
}
	