/* HTML TAGS */
body { padding: 0px; margin: 0px; font-size: 13px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; /*padding-bottom: 74px;*/}
a, a:hover, a:focus, a:active, button, button:focus, button:hover { outline: 0; }
form { margin-bottom: 0px; }

form h1, form h2, form h3, form h4, form h5 { color: #3A4779/*#999999*/;  }
form h1 { font-size: 18px; margin-bottom: 20px; }
form h3 { font-size: 14px; }
form h4 { font-size: 12px; }
form h5 { font-size: 10px; }

/* MAIN SITE ELEMENTS */
#header.navbar-inner { height: 50px; }
.brand { margin-top: 7px; }
#logo { height: 22px; }
.navbar-search { margin-top: 10px; }
#usermenu { margin-top: 5px; }
#content_container { margin-top: 75px; }
#mainmenu { margin: 5px 0 0 150px; }
#site { margin-bottom: 70px; }
#footer {  position: fixed; bottom: 0; margin: 0 auto; width: 100%; text-align: center; background-color: #f5f5f5; border: 1px solid #ccc; }
#footer div { margin: 5px auto; }
.interface.locked { background: #fff; width: 100%; height: 100%; z-index: 10; top: 0; left: 0; position: fixed; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter: alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; }
.interface.unlocked, .interface.unlocked .interface-inner { display: none; }
.interface-inner { color: #fff; position: absolute; height: 100px; width: 250px; z-index: 11; top: 50%; left: 50%; margin-top: -50px; margin-left: -125px; text-align: center; background: #000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter: alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; background-image: url(../img/anx-logo-trans.png); background-repeat: no-repeat; background-position: 35px -48px; }

.submenu { background-color: #F9F9F9; height: 38px; margin-bottom: 10px; }
.submenu h2,.submenu h3, .submenu h4 { display: inline-block; }
.submenu-inner { padding: 5px; }
.submenu-inner h2,.submenu-inner h3,.submenu-inner h4 { margin-right: 20px; }
.submenu-inner h3 { margin-top: 2px; color: #999999; }
.subelement { background-color: #FFF; margin-bottom: 10px; padding: 0px; }
.print-wrapper { width: 800px; }

/* DEFAULTS */
.clear { clear: both; }
.center { text-align: center!important; }
.left { text-align: left!important; }
.right { text-align: right!important; }
.gray { color: gray; }
.not-present { color: #D2D2D2; }
.not-present .label { background-color: #D2D2D2!important; }
.bordered { border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0); -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff; box-shadow: inset 0 1px 0 #ffffff; }
.accordion-group { margin-bottom: -1px; }
.rounded { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0); -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff; box-shadow: inset 0 1px 0 #ffffff; }
.rounded-xl { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0); -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff; box-shadow: inset 0 1px 0 #ffffff; }
.strong { font-weight: bold; }
span.info  { font-style: italic; color: gray; }
.comment { color: #fff; font-style: italic; }
.green { color: green; }
.red { color: red; }
.disabled { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: moz-none; -ms-user-select: none; user-select: none; }
.infobox { border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center;-moz-border-radius:.5em; -webkit-border-radius:.5em; border-radius:.5em; color: #3A4779; background-color: #BDE5F8; background-image: url('../img/icons/info.png'); }
.icon-ok, .icon-edit, .icon-remove { cursor: pointer; }

/* DASHBOARD */
input.timepickr { width: 20px; background-color: #fff; }
.timepickr { height: 26px; width: 24px; float: left; padding-top: -3px; text-align: center; color: #000; background-color: #EEEEEE; cursor: pointer; border: 1px solid #cccccc; }
.dashboard-fixed { padding: 2px; margin-bottom: 20px; }
.dashboard-fixed-head table { margin-bottom: 0px; }
.dashboard-fixed-body { height: 250px; overflow-y: auto; overflow-x: hidden;  }
.dashboard-fixed-body table { border-top: 0px; margin-bottom: 0px; }
.progress-bar { /*display: block;*/ width:86px; height: 2px; background-color: #EDEDED; overflow: hidden; margin-top: 1px; }
/*.progress-bar.dashboard { margin-top: -10px; margin-bottom: 10px; }*/
.progress-bar-inner { width: 0%; height: 2px; background-color: rgb(229, 229, 229); }
#my_presence_info_btn { /*margin-right: 132px;*/ font-weight: bold; }

/*.dashboard-calendar tbody td { overflow: hidden; }
.dashboard-calendar tbody td span.label { float: left; margin: 0 5px 5px 0; }*/

/* TIME */
.grid-head { color: #555555; border: 0px; border-left: 0px!important; height: 20px; border-bottom: 1px solid #555555; padding: 4px 5px; font-weight: bold;
	-moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px;
	background: rgb(216,216,216); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(163,163,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(100%,rgba(163,163,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(163,163,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(163,163,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(163,163,163,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(216,216,216,1) 0%,rgba(163,163,163,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */ }
.grid-head .label { margin-top: 1px; border-top: 1px solid #555; border-left: 1px solid #555; border-bottom: 1px solid #E7E7E7; border-right: 1px solid #E7E7E7; min-width: 30px; text-align: center; }
.grid-caption { background-color: #E7E7E7/*EEEEEE*/!important; padding: 2px 4px!important; }
td.blank, th.blank { background-color: #fff!important; border-left: 0px!important; border-top: 0px!important; }
.time-day { cursor: pointer; }

/* VACATION */
.calendar { background-image: url("../img/calendar_not_current.gif"); }
.calendar .caption { float: left; width: 14.285%; background-color: #E7E7E7; font-weight: bold; height: 20px; padding: 5px auto; text-align: center; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
.calendar .caption.last { border-right: 0px; }
.calendar .day { float: left; width: 14.285%; height: 100px; background-color: #F5F5F5/*E7E7E7*/; padding: 5px auto; border-right: 1px solid #fff; border-bottom: 1px solid #fff; overflow-x: none; overflow-y: auto; }
.calendar .day:hover { background-color: #F0F9FF; cursor: pointer; }
.calendar .day.hidden { background-color: #fff; }
.calendar .day.hidden:hover { background-color: #fff; }
.calendar .day.last { border-right: 0px; }
.calendar .day.weekend span.date { color: #FFF/*B1B1B1 E7E7E7*/; background-color: #C7C7C7; }
.calendar .day.weekend span.label { color: #fff; }
.calendar .day .date { display: inline-block; height: 18px; width: 18px; border: 1px solid #fff; background-color: #fff; font-weight: bold; text-align: center; }
.calendar .day .label { cursor: pointer; }
.calendar .label { display: inline-block; margin-left: 1px; margin-bottom: 3px; overflow: hidden; }
.calendar .day.disabled { background: inherit; cursor:not-allowed; }
.calendar .day.disabled:hover { background: inherit; }
.calendar .day.today { border: 1px solid #000; background-color: #F0F9FF; }
.calendar .day.today span.date { background-color: #333333; color: #fff; }
.calendar .day.holiday span.date { background-color: #b94a48; color: #fff; }
.calendar .day.holiday { /*background-color: #BFBEBE;*/ }
.calendar .day.past { background-color: #E7E7E7; }
.calendar .day.past:hover { background-color: #E7E7E7; cursor: default; }

/* CALENDAR */
#calendar_list tr:hover { background-color: #F9F9F9; }
#calendar_list td { vertical-align: top; }
#calendar_list span { text-align: center; }
#calendar_list span i { float: left; }
#calendar_list span.label { float: left; width: 150px; margin: 0 5px 5px 0; }

/* ADMIN */
.user-row { cursor: pointer; }
#modal-user { width: 800px; }
#modal-user .modal-body { max-height: 500px; }
#modal-user form { margin-bottom: 10px; }
#modal-user .controls { margin-left: 100px; }
#modal-user label { width: 80px; }
#modal-user .userdata { height: 230px; }
#modal-user .contract-edit, #modal-user .vacation-edit { display: none; }


/* ADDITIONAL ICONS (FAM FAM FAM) */
.icon { display: inline-block; width: 14px; height: 14px; vertical-align: text-top; background-size: 14px 14px; }
.fam-exclamation { background-image: url(../img/icons/exclamation.png); }

/* bootstrap modifications */
.modal-header { background-color: #3A4779; color: #ffffff; }
.dropdown-toggle span { margin: 7px 0; }
.breadcrumb { margin: 0 0 5px; }
.accordion-heading a { padding: 0px!important; color: #555; }
.accordion-inner { padding: 0px; border: 0px!important; }
.accordion-inner table { margin-bottom: 0px; }
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color: #F5F5F5; }
.table tbody tr:hover td, .table tbody tr:hover th { background-color: #F0F9FF; }
thead { background-color: #EEEEEE; }
table td { padding: 2px 4px!important; }
table td.caption { font-weight: bold!important; }
tr.success td, td.success, span.success { background-color: #DFF0D8!important; }
tr.error td, td.error, span.error { background-color: #f2dede!important; }
tr.warning td, td.warning, span.warning { background-color: #fcf8e3!important; }
tr.info td, td.info, span.info { background-color: #d9edf7!important; }
.modal-header.error { background-color: #b94a48; color: #ffffff; }
table select { margin-bottom: 0px; }
.datepicker, .bootstrap-timepicker { z-index: 1051; }
.label-anx01 { background-color: #A901DB; }







/*
Document   : jquery.pnotify.default.css
Created on : Nov 23, 2009, 3:14:10 PM
Author     : Hunter Perrin
Version    : 1.2.0
Link       : http://pinesframework.org/pnotify/
Description:
	Default styling for Pines Notify jQuery plugin.
*/
/* -- Notice */
.ui-pnotify {
top: 25px;
right: 25px;
position: absolute;
height: auto;
/* Ensures notices are above everything */
z-index: 9999;
}
/* Hides position: fixed from IE6 */
html > body .ui-pnotify {
position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
background-position: 0 0;
padding: .8em;
height: 100%;
margin: 0;
}
.ui-pnotify-sharp {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
float: right;
margin-left: .2em;
}
.ui-pnotify-title {
display: block;
margin-bottom: .4em;
}
.ui-pnotify-text {
display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
display: block;
float: left;
margin-right: .2em;
}
/* -- History Pulldown */
.ui-pnotify-history-container {
position: absolute;
top: 0;
right: 18px;
width: 70px;
border-top: none;
padding: 0;
-webkit-border-top-left-radius: 0;
-moz-border-top-left-radius: 0;
border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-top-right-radius: 0;
border-top-right-radius: 0;
/* Ensures history container is above notices. */
z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
padding: 2px;
}
.ui-pnotify-history-container button {
cursor: pointer;
display: block;
width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
display: block;
margin: 0 auto;
}

/*
Document   : jquery.pnotify.default.icons.css
Created on : Nov 24, 2009, 2:58:21 PM
Author     : Hunter Perrin
Version    : 1.2.0
Link       : http://pinesframework.org/pnotify/
Description:
	Pines Icon styling for Pines Notify.
*/

.ui-pnotify .picon {
background-color: transparent;
background-repeat: no-repeat;
background-position: center center;
width: 17px;
height: 17px;
}
.ui-pnotify-title {
line-height: 17px;
min-height: 17px;
}

#ck-button {
	clear: all;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#ck-button:hover {
    background:red;
}

#ck-button label {
    float:left;
    width:4.0em;
}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#911;
    color:#fff;
}

